* {
  border: none;
  box-sizing: border-box;
  font-family: "Lobster";
  color: #C94C4C;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: #FFFACD;
}

h1 {
  font-size: 50px;
}

main {
  display: flex;
  flex-direction: column;
  padding: 50px auto;
  height: 90vh;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

span {
  display: flex;
  justify-content: center;
  font-size: 30px;
  width: 100%;
}


.card-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px auto;
  height: 550px;
  width: 100%;
}

.player-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  height: 400px;
  width: 300px;
}

.player-hand {
  display: flex;
  background: url("assets/back.png");
  border-radius: 4px;
  box-shadow: -10px 0 20px #C94C4C,
    10px 0 20px #C94C4C;
  height: 390px;
  width: 290px;
}

.p2-hand {
  box-shadow: -10px 0 20px purple,
    10px 0 20px purple;
}

span {
  display: flex;
  justify-content: center;
  font-size: 30px;
  width: 100%;
}
